<h1>{{ title }}</h1>

<div class="row">
    
  <div class="col-lg-6">
    <h2>{{ 'HOME_FEATURE_LIST_TITLE' | translate }} </h2>
  </div>

  <div class="col-lg-6">
    <h2>{{ 'HOME_ISSUES_TITLE' | translate }}</h2>
  </div>

</div>

<!--<app-my-new-component></app-my-new-component>
<app-image-list></app-image-list>-->
<app-services></app-services>

<div class="row">
  <div class="col-lg-12">

    <h2> {{ 'SWITCH_LANGUAGE' | translate }}</h2>

    <button class="btn btn-default" (click)="setLanguage('en')">
        <span class="flag-icon flag-icon-us"></span>  {{ 'ENGLISH' | translate }}
    </button>

    <button class="btn btn-default" (click)="setLanguage('no')">
        <span class="flag-icon flag-icon-no"></span> {{ 'NORWEGIAN' | translate }}
    </button>

  </div>
</div>
